[package]
name = "compute-starter-kit-rust-beacon-termination"
version = "0.2.0"
authors = []
edition = "2018"

[profile.release]
debug = true

[dependencies]
chrono = "0.4.19"
fastly = "0.7.0"
ipnet = "2.3.0"
serde = { version = "1.0.123", features = ["derive"] }
serde_json = "1.0.61"
